{% extends 'layout.html' %} 
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/book-now.css">
{% endblock %}
{% block content %}   

        <form id="stepped" action="#" method="post">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h1 class="text-center py-3">You selected Short Rental Booking Type.</h1>
                    </div>
                    <div class="col-md-10">
                        <div class="indicators d-flex justify-content-around py-4 text-light">
                            <div class="rounded-circle bg-secondary px-2 shadow-sm mr-2">1 Pick-Up</div>
                            <div class="rounded-circle bg-secondary px-2 shadow-sm mr-2">2 Drop-Off</div>
                            <div class="rounded-circle bg-secondary px-2 shadow-sm mr-2">3 Base Renta</div>
                            <div class="rounded-circle bg-secondary px-2 shadow-sm">
                                4 Confirmation</div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="fix-height position-relative">
                            <div class="steps">
                                <div class="row justify-content-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inp1">Enter Your Pick-Up Date</label>
                                            <input type="DATE" id="inp1" class="form-control">


                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inp12">Time</label>
                                            <input type="time" name="time" id="inp12" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inp2"> Enter Your Location by clicking on the pin icon</label>
                                    <input type="text" id="inp2" class="form-control"
                                        placeholder="Enter Your Location by clicking on the pin icon">
                                </div>
                                <div class="form-group">
                                    <label for="inp2">Additional Pick-Up Description</label>
                                    <input type="text" id="inp2" class="form-control"
                                        placeholder="Additional Pick-Up Description">
                                </div>

                            </div>
                            <div class="steps">
                                <div class="form-group">
                                    <label for="inp2"> Enter Your Location by clicking on the pin icon</label>
                                    <input type="text" id="inp2" class="form-control"
                                        placeholder="Enter Your Location by clicking on the pin icon">
                                </div>
                                <div class="form-group">
                                    <label for="inp2">Additional Drop-Off Description</label>
                                    <input type="text" id="inp2" class="form-control"
                                        placeholder="Additional Pick-Up Description">
                                </div>
                            </div>
                            <div class="steps">
                                <!-- <div class="form-group">
                                    <label for="inp3">Label 3</label>
                                    <input type="text" id="inp3" class="form-control">
                                </div> -->
                                <div class="row">
                                    <div class="col-6 col-sm-3">
                                        <h6>Pick-Up <a href="">Edit</a> </h6>
                                        <p>16 A, Pakistan Employees
                                            <br> Co-Operative...
                                        <p>Jun 21, 2022, 3:07 PM</p>
                                        <h6>Booking Type: general</h6>
                                        </p>
                                        <div class="img">
                                            <img src="/static/images/cars/1581613723188-civic.png" class="img-fluid"
                                                alt="">
                                        </div>

                                    </div>
                                    <div class="col-6 col-sm-3">
                                        <h6>Pick-Up <a href="">Edit</a> </h6>
                                        <p>16 A, Pakistan Employees
                                            <br> Co-Operative...
                                        <p>Jun 21, 2022, 3:07 PM</p>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">FULL DAY</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">SHORT RENTAL</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio3" name="customRadio"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio3">SELF DRIVE</label>
                                        </div>
                                        </p>

                                        <h3>
                                            HONDA Civic</h3>
                                    </div>
                                    <div class="col-6 col-sm-3">
                                        <p>Rate / day</p>
                                        <p>Fuel / kilometer *</p>
                                        <p>Base Fare</p>
                                        <p>Overtime / hour</p>
                                        <p>No. of Days</p>
                                        <P>Discount Code (if any)</P>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio5" name="customRadio4"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio5">In City</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio4" name="customRadio4"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio4">Out City</label>
                                        </div>
                                        <p>Amount Payable
                                            *Excluding fuel & overtime charges
                                            (charges - view details )</p>

                                    </div>
                                    <div class="col-6 col-sm-3">
                                        <p>PKR. 4,750</p>
                                        <p>PKR. 28</p>
                                        <p>PKR. 0</p>
                                        <p>PKR. 250</p>
                                        <P>1</P>
                                        <a href="">Promo code</a>
                                        <h6>PKR. 4,750</h6>


                                    </div>

                                </div>
                            </div>
                            <div class="steps">
                                <!-- <div class="form-group">
                                    <label for="inp4">Label 4</label>
                                    <input type="text" id="" class="form-control">
                                </div> -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1 inp4">
                                    <label class="custom-control-label" for="customCheck1 inp4">Kindly note that the
                                        Fuel Charges and Overtime will be applied based on the mileage of the car and
                                        extra hours of the services (if any).Your final invoice will be generated after
                                        adding the Fuel and Overtime charges at the end of your reservation. For more
                                        details please read the Fuel and Overtime charges and terms of use.”</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 text-right">
                        <button type="button" class="btnPrev btn btn-outline-danger">Prev</button>
                        <button type="button" class="btnNext btn btn-outline-danger">Next</button>
                    </div>
                </div>
            </div>
        </form>
{%endblock%}
{%block scripts%}
    <script>
        $(".slider").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000, //2000ms = 2s;
            autoplayHoverPause: true,
        });
    </script>

  

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            class MultiStep {
                constructor(formId) {
                    let myForm = document.querySelector(formId),
                        steps = myForm.querySelectorAll(".steps"),
                        btnPrev = myForm.querySelector(".btnPrev"),
                        btnNext = myForm.querySelector(".btnNext"),
                        indicators = myForm.querySelectorAll(".rounded-circle"),
                        inputClasses = ".form-control",
                        currentTab = 0;

                    // we'll need 4 different functions to do this
                    showTab(currentTab);

                    function showTab(n) {
                        steps[n].classList.add("active");
                        if (n == 0) {
                            btnPrev.classList.add("hidden");
                            btnPrev.classList.remove("show");
                        } else {
                            btnPrev.classList.add("show");
                            btnPrev.classList.remove("hidden");
                        }
                        if (n == steps.length - 1) {
                            btnNext.textContent = "Confirm ";
                        } else {
                            btnNext.textContent = "Next";
                        }
                        showIndicators(n);
                    }

                    function showIndicators(n) {
                        for (let i = 0; i < indicators.length; i++) {
                            indicators[i].classList.replace("bg-danger", "bg-success");
                        }
                        indicators[n].className += " bg-danger";
                    }

                    function clickerBtn(n) {
                        if (n == 1 && !validateForm()) return false;
                        steps[currentTab].classList.remove("active");
                        currentTab = currentTab + n;
                        if (currentTab >= steps.length) {
                            myForm.submit();
                            return false;
                        }
                        showTab(currentTab);
                    }
                    // Do whatever validation you want
                    function validateForm() {
                        let input = steps[currentTab].querySelectorAll(inputClasses),
                            valid = true;
                        for (let i = 0; i < input.length; i++) {
                            if (input[i].value == "") {
                                if (!input[i].classList.contains("invalid")) {
                                    input[i].classList.add("invalid");
                                }
                                valid = false;
                            }
                            if (!input[i].value == "") {
                                if (input[i].classList.contains("invalid")) {
                                    input[i].classList.remove("invalid");
                                }
                            }
                        }
                        return valid;
                    }
                    btnPrev.addEventListener("click", () => {
                        clickerBtn(-1);
                    });
                    btnNext.addEventListener("click", () => {
                        clickerBtn(1);
                    });
                }
            }
            let MS = new MultiStep("#stepped");
        });

    </script>
{%endblock%}

