{% extends 'layout.html' %} 
{% block title %}Search Car{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="input_multy">
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter Pick-Up Location *">
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group mt-1">
                    <input type="DATE" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group mt-1">
                    <input type="time" name="time" class="form-control">

                </div>
            </div>

            <div class="col-sm-4">

                <!-- <div  class="custom-control  custom-radio">
                    <input type="radio" id="customRadio1"  name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">FULL DAY</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">SHORT RENTAL</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio3">SELF DRIVE</label>
                </div> -->
                <div class="radio_tabs">
                    <label class="radio_wrap" data-radio="radio_1">
                        <input type="radio" name="sports" class="input" checked value="full_day">
                        <span class="radio_mark" style="color: white;">
                            FULL DAY
                        </span>
                    </label>
                    <label class="radio_wrap" data-radio="radio_2">
                        <input type="radio" name="sports" class="input" value="short_rental">
                        <span class="radio_mark" style="color: white;">
                            SHORT RENTAL
                        </span>
                    </label>
                    <label class="radio_wrap" data-radio="radio_3">
                        <input type="radio" name="sports" class="input" value="self_drive">
                        <span class="radio_mark" style="color: white;">
                            SELF DRIVE
                        </span>
                    </label>

                </div>


            </div>
        </div>
        <!-- <button class="btn btn-dark btn-book">Book Now</button> -->
    </div>
</div>


</section>



<section class="search-car-header">
<div class="content radio_con">
    {% for i in cars %}
    <div class="radio_content radio_1">
        <div class="container ">
            <div class="row">
                <div class="col-sm-6">
                    <div class="car">
                        <img src="/static/images/cars/{{i.pic}}" width="1024" height="645" class="img-fluid" alt="">
                        <!-- <img src="/static/images/cars/1581613723188-civic.png" class="img-fluid" alt=""> -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="car-details">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>{{i.name}}</h2>
                            </div>
                            <div class="col-sm-6">
                                <span class="cut">8,000 </span>
                                <h3 class="">{{i.price_per_day}} PKR/day</h3>
                            </div>
                            <div class="col-sm-6">
                                <a href="">
                                    See all details
                                </a>
                            </div>
                            {% if i.city == "out" %}
                            <div class="col-sm-6">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio8" name="customRadio5"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio8">In City</label>

                                    
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio9" name="customRadio5"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio9">Out City</label>
                                </div>
                            </div>
                            {% elif i.city == "in" %}
                            <div class="col-sm-6">
                                <h6>In City Only</h6>
                            </div>
                            {% endif %}
                            <span> <i class="fa fa-user"></i> {% if i.with_driver==true%}With Driver{%else%}Without Driver{%endif%}</span>
                            <span> <i class="fa fa-droplet "></i> {% if i.ac==true%}With Air Cond.{%else%}Without Air Cond.{%endif%}
                            </span>
                            <span> <i class="fa fa-person"></i> 4 Doors
                            </span>
                            <span> <i class="fa fa-gear"></i> {{ i.transmission | capitalize }}</span>
                            <br>
                            <br>
                            <span> <i class="fa fa-clock"></i> Overtime: PKR {{i.overtime}}/-
                            </span>
                            <span> <i class="fa fa-gas-pump"></i> Fuel Average ({{i.fuel_average}} KM/LTR)
                            </span>
                            <!-- <span> <i class="fa fa-gas-pump"></i> Fuel (PKR {{i.fuel_average}}/KM)
                            </span> -->
                            <span> <i class="fa fa-hourglass"></i> Full Day ({{i.full_day}}hrs) </span>
                            <br>
                            <br>
                            <button onclick="booknow('{{i._id}}')" class="btn btn-dark btn-book">Book Now</button>

                        </div>
                    </div>
                </div>
                <hr>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
</section>

<script>
    function booknow(id){
        console.log("clicked");
        console.log(id);    
        radio = document.querySelector('input[name="sports"]:checked').value;
        console.log(radio);
        window.location.href = "/book-now/"+id+"/"+radio;
        

    }
</script>

        
{% endblock %}
